body{
    margin: 0;
    background-color: #BB7169;
}

    .main{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
        .grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 600px;
            background-color: black;
            padding: 8px;
            margin: 0;
        }

        .menu{
            display: flex;
            flex-direction: column;
        }

            .range-conteiner{
                display: flex;
            }
